{% extends 'base.html.twig' %}

{% block body %}
<style>
form textarea {
	width: 100%;
}
</style>
<form action="" method="post">
<div class="panel panel-default">
  <div class="panel-heading" id="title_demo"><h2>Rédaction d'un article :</h2></div>
  <div class="panel-body" id="article_demo">
	Catégorie :
	<select name="id_categ">
	{% for oCateg in lstCateg %}
		<option value="{{oCateg.id}}">{{oCateg.name}}</option>
	{% endfor %}
	</select>
	<br />
	title <input id="title_source" name="title" type="text" value=""
		onchange="$('#title_demo').html($('#title_source').val());" onkeyup="$('#article_demo').html($('#article_source').val());"
		/>
	<br />
	Résumé du post :
	<textarea name="descri"></textarea>
	Articles :
	<textarea name="text" id="article_source"
		onchange="$('#article_demo').html($('#article_source').val());" onkeyup="$('#article_demo').html($('#article_source').val());"
		></textarea>
	<br />
	Autheur :
	<select name="id_user">
	{% for oAuthor in lstAuthor %}
		<option value="{{oAuthor.id}}">{{oAuthor.name}}</option>
	{% endfor %}
	</select>
	<br />
	<input type="submit" class="btn btn-default" />
  </div>
</div>
</form>
<hr />
<h2>Prévisualisation de l'article :</h2>
<div class="panel panel-default">
  <div class="panel-heading" id="title_demo">Panel heading without title</div>
  <div class="panel-body" id="article_demo">
    Panel content
  </div>
</div>
{% endblock %}

